In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from scipy.stats import pearsonr
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission.csv')

In [3]:
train.head(2)

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1

In [4]:
test.head(2)

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,F00000002,188,1,1,1,0,NaN,0,2
1,F00000007,410,1,1,1,0,0.0,0,2

In [5]:
sample.head(2)

          ID  Crop_Damage
0  F00000002            1
1  F00000011            1

In [6]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59310 entries, 0 to 59309
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           59310 non-null  object
 1   Crop_Damage  59310 non-null  int64
dtypes: int64(1), object(1)
memory usage: 926.8+ KB

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       88858 non-null  object
 1   Estimated_Insects_Count  88858 non-null  int64
 2   Crop_Type                88858 non-null  int64
 3   Soil_Type                88858 non-null  int64
 4   Pesticide_Use_Category   88858 non-null  int64
 5   Number_Doses_Week        88858 non-null  int64
 6   Number_Weeks_Used        79858 non-null  float64
 7   Number_Weeks_Quit        88858 non-null  int64
 8   Season                   88858 non-null  int64
 9   Crop_Damage              88858 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59310 entries, 0 to 59309
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       59310 non-null  object
 1   Estimated_Insects_Count  59310 non-null  int64
 2   Crop_Type                59310 non-null  int64
 3   Soil_Type                59310 non-null  int64
 4   Pesticide_Use_Category   59310 non-null  int64
 5   Number_Doses_Week        59310 non-null  int64
 6   Number_Weeks_Used        53417 non-null  float64
 7   Number_Weeks_Quit        59310 non-null  int64
 8   Season                   59310 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 4.1+ MB

In [9]:
#sns.pairplot(train)

In [10]:
corr, _ = pearsonr(train['Crop_Type'],train['Soil_Type'])
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.287

In [11]:
corr, _ = pearsonr(train['Crop_Damage'],train['Soil_Type']) #soil_type
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.022

In [12]:
corr, _ = pearsonr(train['Crop_Damage'],train['Season']) #season
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.000

In [13]:
corr, _ = pearsonr(train['Crop_Damage'],train['Crop_Type'])#croptype
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.016

In [14]:
corr, _ = pearsonr(train['Crop_Damage'],train['Pesticide_Use_Category'])
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: 0.175

In [15]:
corr, _ = pearsonr(train['Crop_Damage'],train['Estimated_Insects_Count'])
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: 0.203

In [16]:
corr, _ = pearsonr(train['Crop_Damage'],train['Number_Doses_Week']) #Number Does Week
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.031

In [17]:
corr, _ = pearsonr(train['Crop_Damage'],train['Number_Weeks_Quit'])#Number week quit
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.133

In [18]:
corr, _ = pearsonr(train['Estimated_Insects_Count'],train['Number_Doses_Week'])
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: -0.102

In [19]:
corr, _ = pearsonr(train['Estimated_Insects_Count'],train['Number_Weeks_Quit'])
print('Pearsonr correlation: %.3f' % corr)

Pearsonr correlation: 0.299

In [20]:
train.drop(['Season','Crop_Type','Number_Weeks_Used','Soil_Type'],axis=1,inplace=True)
test.drop(['Season','Crop_Type','Number_Weeks_Used','Soil_Type'],axis=1,inplace=True)

In [21]:
df = pd.DataFrame({"ID":test.ID.values})
#df['ID'] = test['ID']

In [22]:
del train['ID']
del test['ID']

In [23]:
X = train.drop(['Crop_Damage'],axis=1)
y = train['Crop_Damage']

In [24]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [25]:
#from sklearn.linear_model import LogisticRegression

In [26]:
#logmodel = LogisticRegression(max_iter=100000)
#logmodel.fit(X_train,y_train)

In [27]:
#predictions = logmodel.predict(X_test)
#from sklearn.metrics import classification_report
#print(classification_report(y_test,predictions))

In [28]:
#predictions = logmodel.predict(test)

In [29]:
#predictions

In [30]:
#d = pd.DataFrame(predictions)

In [31]:
#d

In [32]:
#d[0].values

In [34]:
#from sklearn.tree import DecisionTreeRegressor

In [52]:
#regr_1 = DecisionTreeRegressor()

In [53]:
#regr_1.fit(X, y)

DecisionTreeRegressor()

In [54]:
#y_1 = regr_1.predict(test)

In [55]:
#y_1

array([0.5       , 0.90909091, 0.75      , ..., 0.5       , 0.5       ,
       0.        ])

In [56]:
#df.head(2)

          ID
0  F00000002
1  F00000007

In [57]:
#df['Crop_Damage'] = pd.DataFrame(y_1)

In [58]:
#df.head(2)

          ID  Crop_Damage
0  F00000002     0.500000
1  F00000007     0.909091

In [59]:
#sample.head()

          ID  Crop_Damage
0  F00000002     0.200462
1  F00000011     0.200462
2  F00000014     0.200462
3  F00000015     0.200462
4  F00000016     0.200462

In [60]:
#del sample['Crop_Damage']

In [61]:
#sample.head()

          ID
0  F00000002
1  F00000011
2  F00000014
3  F00000015
4  F00000016

In [62]:
#sample['Crop_Damage'] = df['Crop_Damage']

In [63]:
#sample.to_csv('sample1.csv')

In [49]:
#df.head()

          ID  Crop_Damage
0  F00000002     0.200462
1  F00000007     0.200462
2  F00000011     0.200462
3  F00000013     0.200462
4  F00000014     0.200462

In [50]:
#del df['Crop_Damage']

In [51]:
#from sklearn.ensemble import RandomForestRegressor

In [64]:
#regr = RandomForestRegressor()

In [65]:
#regr.fit(X, y)

RandomForestRegressor()

In [66]:
#y_2 = regr.predict(test)

In [67]:
#df['Crop_Damage'] = pd.DataFrame(y_2)

In [68]:
#df.to_csv('sample2.csv')

In [70]:
from lightgbm import LGBMClassifier
clf = LGBMClassifier()
clf.fit(X,y)

LGBMClassifier()

In [71]:
y_3 = clf.predict(test)

In [72]:
#del df['Crop_Damage']

In [73]:
df['Crop_Damage'] = pd.DataFrame(y_3)

In [74]:
df.to_csv('sampl3.csv')

In [75]:
#del df['Crop_Damage']